<!-- wp:template-part {"slug":"vsb-header","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"General Group"},"className":"general-group"} -->
<div class="general-group wp-block-group"><!-- wp:group {"metadata":{"name":"Background Group"},"className":"background-group"} -->
<div class="background-group wp-block-group"><!-- wp:group {"metadata":{"name":"Overlay Group"},"className":"overlay-group","layout":{"type":"constrained","contentSize":"90%"}} -->
<div class="overlay-group wp-block-group"><!-- wp:group {"metadata":{"name":"Content Group"},"className":"content-group","layout":{"type":"constrained"}} -->
<div class="content-group wp-block-group"><!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"vsb-footer","area":"footer"} /-->